.lantern{
  margin-right: 35px;
}
.lantern__bulb{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.lantern__glare{
  width: 50px;
  height: 50px;
  filter: blur(1px);
}
.lantern__sideGlare{
  width: 50px;
  height: 50px;
  filter: blur(1px);
}
/*
filter: invert(43%) sepia(81%) saturate(1412%) hue-rotate(200deg) brightness(98%) contrast(96%) drop-shadow(0 0 1rem blue);
*/
.lantern__ray, .lantern__rainbow{
  width: 30%;
  height: 2%;
  position: fixed;
}




@media(prefers-reduced-motion: no-preference){
  .lantern__rainbow{
    animation: rainbow 140s ease-in-out infinite;
  }
}

@keyframes rainbow{
  0%{
    -webkit-transform: perspective(100px)  rotate(90deg) rotateY(80deg);
  }
  25%{
    -webkit-transform: perspective(100px)  rotate(90deg) rotateY(120deg);
  }
  50%{
    -webkit-transform: perspective(100px)  rotate(90deg) rotateY(175deg);
  }
  75%{
    -webkit-transform: perspective(100px)  rotate(90deg) rotateY(120deg);
  }
  100%{
    -webkit-transform: perspective(100px)  rotate(90deg) rotateY(80deg);
  }
}

@media(prefers-reduced-motion: no-preference){
  .lantern__glare, .lantern__sideGlare{
    animation: shining 4s infinite linear;
  }
}
  
@keyframes shining{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}