.speaker__box{
    width: 50px;
    height: 25px;
    background-color: rgb(43, 41, 41);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.speaker__box__leftSub, .speaker__box__rightSub{
    width: 20px;
    height: 20px;
    background-color: black;
    border: 2px solid rgb(90, 87, 87);
    border-radius: 100%;
}

.speaker__box__rightSub__inner, .speaker__box__leftSub__inner{
    width: 8px;
    height: 8px;
    background-color:grey;
    border-radius: 100%;
    margin: 6px;
}